.cache/
.mixin.out/
crash-reports/
debug/
downloads/
dynamic-resource-pack-cache/
logs/
mingit/
saves/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP*/
mingit.zip
usercache.json
usernamecache.json
update_cache/
.qmenu_opened.marker
options.txt
option_old.txt
command_history.txt
TrashSlotSaveState.json
ponders_watched*.json
data/
fancymenu_data/
tacz/
vinurl/
